
<form [formGroup]="insertFrm" (ngSubmit)="onSubmit()">
<div class="form-group">
    <label for="id">Item ID</label>
    <input type="text" class="form-control" from aria-describedby="UserNameHelp" placeholder="Enter ID" 
    formControlName="id" >
</div>
<div class="form-group">
    <label for="name">Item ID</label>
    <input type="text" class="form-control" from aria-describedby="UserNameHelp" placeholder="Enter name" 
    formControlName="name" >
</div>
<div class="form-group">
    <label for="type">Item type</label>
    <input type="text" class="form-control" from aria-describedby="UserNameHelp" placeholder="Enter type" 
    formControlName="type" >
</div>
<div class="form-group">
    <label for="type">Item condition</label>
    <input type="text" class="form-control" from aria-describedby="UserNameHelp" placeholder="Enter condition" 
    formControlName="condition" >
</div>
<div class="form-group">
    <label for="type">Item price</label>
    <input type="text" class="form-control" from aria-describedby="UserNameHelp" placeholder="Enter price" 
    formControlName="price" >
</div>
<button class="btn btn-primary" [disabled]="!insertFrm.valid">Insert</button>
</form>